extends _base

block variables
    - prefixUrl = "../index.html"
    -
        navLinks = [
            {
                name: "Главная",
                href: prefixUrl
            },
            {
                name: "Группы",
                href: `${prefixUrl}#studying`
            },
            {
                name: "Цены",
                href: `${prefixUrl}#prices`
            },
            {
                name: "Филиалы",
                href: `${prefixUrl}#branches`
            },
            {
                name: "Отзывы",
                href: `${prefixUrl}#reviews`
            },
            {
                name: "Вопросы",
                href: `${prefixUrl}#faq`
            }
        ]
    - branch = {}

block head
    link(href=require("../styles/components/branch.scss"), rel="stylesheet")
    script(src=require("/src/js/index.js"), async)
    script(type='text/javascript' src='https://formdesigner.ru/js/widgets/popup.js?v=0.0.3')
    title= branch.metaTitle
    meta(name='description', content= branch.metaDescription)

block main
    section#branch
        .container
            h1.branch__title.text-center= branch.title
            p.text-center.branch-description= branch.description
            ul.d-flex.flex-md-row.flex-column-reverse.p-0
                li.map.col-md-6.col-12.my-md-0.my-4
                    iframe(src=branch.mapSrc style= 'border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade' width='600' height='450')
                li.branch__info.col-md-6.col-12
                    ul.contacts.d-flex.flex-column.h-100.p-md-4.p-0
                        li.contacts__li.d-flex.align-items-center
                            img.contacts__icon(src=require('../assets/icons/point.svg') alt='')
                            p.contacts__address= branch.address
                        li.contacts__li.d-flex.align-items-center
                            img.contacts__icon(src=require('../assets/icons/telephone-fill.svg') alt='')
                            p.contacts__phone
                                a.branch__link(href=`tel:${phone.notFormatted}` onclick="ym(91506274, 'reachGoal', 's_telephone'); return true;")= phone.formatted
                        li.contacts__li.d-flex.align-items-center
                            img.contacts__icon(src=require('../assets/icons/envelope-fill.svg') alt='')
                            p.contacts__mail
                                a.branch__link(href=`mailto:${mail}` onclick="ym(91506274, 'reachGoal', 's_email'); return true;")= mail
                        li.contacts__li.d-flex.align-items-center
                            img.contacts__icon(src=require('../assets/icons/clock-fill.svg') alt='')
                            .contacts__schedule.p-0= workTime
                        li.contacts__li.d-flex.align-items-start.contacts__link-wrapper
                            .branch__enroll-box
                                p.branch__enroll-description Нажмите на кнопку, чтобы узнать о стоимости обучения
                                +enrollModal('link branches__contact-link', 'Узнать стоимость обучения')
    include sections/_studying
    include sections/_facts
    include sections/_classes
    include sections/_reviews
    include sections/_photos
    include sections/_faq
    include sections/_enroll
