//-Текущий год
- year = new Date().getFullYear()

//-Основная информация
- title = `Автошкола в Москве, обучение на водительские права категории А и B, C, D, E в Мск, цена, рейтинг| Автошкола ТопГир`
- phone = { formatted: "+7 (495) 128-28-12", notFormatted: "+74951282812" }
- description = `Обучение вождению в автошколе Москвы на категории А и Б, С, Д, Е. Стоимость курсов вождения автомобиля уточняйте на сайте. Площадки для практического вождения рядом с метро. Более 30 штук. Приезжайте, учитесь!`
- mail = "avtotopgir@yandex.ru"
- workTime = "Пн-Пт: 8:00-22:30; Сб-Вс: 9:00-22:00"
- workDaysSchedule = "Пн-Пт: 8:00-22:30"
- weekendsSchedule = "Сб-Вс: 9:00-22:00"
- vk = "https://vk.com/topgir.avto"
- whatsapp = 'https://api.whatsapp.com/send/?phone=79673588999&text=Привет%2C+я+с+сайта+топгир%2C+хочу+получить+права&type=phone_number&app_absent=0'
- instagram = "https://www.instagram.com/avtoshkola_topgir/"

//-Навигационные ссылки
-   prefixUrl = ""
-
    navLinks = [
        {
            name: "Главная",
            href: prefixUrl
        },
        {
            name: "Группы",
            href: `${prefixUrl}#studying`
        },
        {
            name: "Цены",
            href: `${prefixUrl}#prices`
        },
        {
            name: "Филиалы",
            href: `${prefixUrl}#branches`
        },
        {
            name: "Отзывы",
            href: `${prefixUrl}#reviews`
        },
        {
            name: "Вопросы",
            href: `${prefixUrl}#faq`
        }
    ]

//-Классы
-
    classes = [
        "assets/images/classes/class-1.webp",
        "assets/images/classes/class-2.webp",
        "assets/images/classes/class-3.webp",
        "assets/images/classes/class-4.webp",
        "assets/images/classes/class-5.webp",
        "assets/images/classes/class-6.webp",
        "assets/images/classes/class-7.webp",
        "assets/images/classes/class-8.webp",
        "assets/images/classes/class-9.webp",
        "assets/images/classes/class-10.webp",
    ]

//-Автопарк
-
    autopark = [
        {
            imageSrc: 'assets/images/autopark/ford-focus.webp',
            kpp: 'МКПП',
            title: 'Ford Focus'
        },
        {
            imageSrc: 'assets/images/autopark/skoda-octavia.webp',
            kpp: 'АКПП',
            title: 'Skoda Octavia'
        },
        {
            imageSrc: 'assets/images/autopark/hyunday-solaris.webp',
            kpp: 'МКПП',
            title: 'Hyunday Solaris'
        },
        {
            imageSrc: 'assets/images/autopark/skoda-rapid.webp',
            kpp: 'АКПП',
            title: 'Skoda rapid'
        },
        {
            imageSrc: 'assets/images/autopark/volkswagen-polo.webp',
            kpp: 'МКПП',
            title: 'Volkswagen polo'
        },

    ]
//-Вопросы
-
    faq = [
        {
            question: "Как долго учиться?",
            answer: "По законодательству срок обучения на категорию В не может быть менее 3 месяцев. Рассчитывайте на такую продолжительность обучения."
        },
        {
            question: "Входит ли бензин в стоимость?",
            answer: "Да, расходы на бензин уже включены в цену на обучение в автошколе."
        },
        {
            question: "Можно ли поменять график, класс или площадку во время обучения?",
            answer: "Да, есть такая возможность. Мы всегда идем навстречу клиентам и стремимся создать максимально комфортные условия на время вашей  учебы на права."
        },
        {
            question: "Можно ли перейти с офлайн- на онлайн-формат?",
            answer: "Да, вы можете отучиться онлайн в автошколе «ТопГир», даже если начали посещать занятия в классе. Необходимо выполнить условия: переоформить документы,  компенсировать разницу в цене."
        },
        {
            question: "Вы сопровождаете учеников во время сдачи экзамена в ГИБДД?",
            answer: "Ученики могут рассчитывать на нашу всестороннюю поддержку, в том числе и на сопровождение на экзаменах в ГИБДД."
        }
    ]



//-Филиалы
-
    branches = [
        {
            name: "Лобненская улица, 13 к2 - м.Селигерская",
            href: "seligerskaya.html",
            address: "Лобненская улица, 13 к2",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Селигерская”, ж/д станция ”Марк”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Селигерская",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом со станцией метро Селигерская, на Лобненской улице, рядом с Коровинским шоссе, недалеко от ж/д станции Марк.   ☎️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Селигерская | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.527301%2C55.888422&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgo0NDEzOTUwNzkwEkLQoNC-0YHRgdC40Y8sINCc0L7RgdC60LLQsCwg0JvQvtCx0L3QtdC90YHQutCw0Y8g0YPQu9C40YbQsCwgMTPQujIiCg30GxZCFb6NX0I%2C&z=15.77"
        },
        {
            name: "улица Пришвина, 8 к2 - м.Бибирево",
            href: "bibirevo.html",
            address: "улица Пришвина, 8 к2",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станции метро “Бибирево”, “Алтуфьево”, “Отрадное”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Бибирево",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом со станцией метро Бибирево, на улице Пришвина, рядом с Алтуфьево и Отрадным.   ☎️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Бибирево | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.594379%2C55.889065&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Njc5OTYwNRI90KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINGD0LvQuNGG0LAg0J_RgNC40YjQstC40L3QsCwgONC6MiIKDYpgFkIVY45fQg%2C%2C&z=15.74"
        },
        {
            name: "Олимпийский проспект, 30 ст1 - м.Марьина Роща",
            href: "maryina-rosha.html",
            address: "Олимпийский проспект, 30 ст1",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станции метро “Марьина Роща”, “Рижская”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Марьина Роща",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом со станцией метро Марьина Роща, на Олимпийском проспекте, рядом с Рижской и улицей Сущёвский Вал.   ☎️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Марьина Роща | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.623083%2C55.791483&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Njc0Njc5MBJK0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCe0LvQuNC80L_QuNC50YHQutC40Lkg0L_RgNC-0YHQv9C10LrRgiwgMzDRgTEiCg33fRZCFXcqX0I%2C&z=15.78"
        },
        {
            name: "Аргуновская улица, 4 - м.Улица Академика Королёва",
            href: "koroleva.html",
            address: "Аргуновская улица, 4",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станции метро “улица Академика Королева”, “ВДНХ”, “Выставочный центр”, улицы Аргуновкая, Звездный Бульвар. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Улица Академика Королёва",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с улицей Академика Королева, у ВДНХ, недалеко от выставочного центра, на Аргуновской улице, рядом со Звездным Бульваром.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Улица Академика Королёва | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.637438%2C55.815737&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Njc2NDQzNBJA0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCQ0YDQs9GD0L3QvtCy0YHQutCw0Y8g0YPQu9C40YbQsCwgNCIKDeB7FkIVm0FfQg%2C%2C&z=14.76"
        },
        {
            name: "улица Бориса Галушкина, 18 - м.ВДНХ",
            href: "vdnh.html",
            address: "улица Бориса Галушкина, 18",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станции метро “ВДНХ”, “Улица Сергея Эйзенштейна”, “Выставочный центр”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.ВДНХ",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с ВДНХ, на улице Бориса Галушкина, недалеко от выставочного центра, рядом с улицей Сергея Эйзенштейна.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро ВДНХ | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.656569%2C55.822599&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Njc2ODk5NhJK0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINGD0LvQuNGG0LAg0JHQvtGA0LjRgdCwINCT0LDQu9GD0YjQutC40L3QsCwgMTgiCg1ToBZCFVhKX0I%2C&sctx=ZAAAAAgCEAAaKAoSCZBmLJrO0kJAEaFpiZXR3EtAEhIJPWU1XU9UA0ARk4rG2t%2FZ3T8iBgABAgMEBSgKOABA5a0HSAFiJGNvbGxlY3Rpb25zX2RvX2ZpbHRlcl9ieV9nZW9pZD1mYWxzZWIbY29sbGVjdGlvbnNfaW91X2ZpbHRlcj0wLjAyYjlzb3VyY2U9cHJpY2VzIWFkZHJzLWdvb2RzLTAwMDpzZDovL3Nhc0BhZGRyc19nb29kc19kZXYyLTBiOXNvdXJjZT1wcmljZXMhYWRkcnMtZ29vZHMtMDAwOnNkOi8vc2FzQGFkZHJzX2dvb2RzX2RldjItMWI5c291cmNlPXByaWNlcyFhZGRycy1nb29kcy0wMDA6c2Q6Ly9zYXNAYWRkcnNfZ29vZHNfZGV2Mi0yYjlzb3VyY2U9cHJpY2VzIWFkZHJzLWdvb2RzLTAwMDpzZDovL3Nhc0BhZGRyc19nb29kc19kZXYyLTNiJWNvbGxlY3Rpb25zX3JlbGV2X3RocmVzaG9sZD0xMDA1ODAwMDBiNGNvbGxlY3Rpb25zX3JhbmtpbmdfbW9kZWw9Y29sbF9yZWxldl9ib2JhX2Rpc3RpbGxfMTRiJWNvbGxlY3Rpb25zX2RvX2ZpbHRlcl9ieV93aW5kb3c9ZmFsc2ViGmNvbGxlY3Rpb25zX2JmX3NlYXJjaD10cnVlYhxjb2xsZWN0aW9uc19zb3VyY2U9Z2VuZXJhdGVkYhljb2xsZWN0aW9uc19zb3VyY2U9ZXhwZXJ0YiFjb2xsZWN0aW9uc19yZXR1cm5fYnlfZ2VvaWQ9ZmFsc2VqAnJ1nQHNzEw9oAEAqAEAvQHFdZHy6gEA8gEA%2BAEAggIsSk1KNStHUSDRgC3QvSDQptCw0YDQuNGG0YvQvdC%2BLCDQnNC%2B0YHQutCy0LCKAgCSAgYxMjA1NziaAgxkZXNrdG9wLW1hcHM%3D&sll=37.656569%2C55.822599&sspn=0.024059%2C0.004633&text=JMJ5%2BGQ%20%D1%80-%D0%BD%20%D0%A6%D0%B0%D1%80%D0%B8%D1%86%D1%8B%D0%BD%D0%BE%2C%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&z=15.77"
        },
        {
            name: "Люблинская улица, 102а - м.Марьино",
            href: "maryino.html",
            address: "Люблинская улица, 102а",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станции метро “Марьино”, “Братиславская”, “Борисово”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Марьино",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с Марьино, на Люблинской улице, недалеко от Братиславской и Борисово.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Марьино | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.742231%2C55.652314&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjY1NTA5NhJC0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCb0Y7QsdC70LjQvdGB0LrQsNGPINGD0LvQuNGG0LAsIDEwMtCQIgoNC_gWQhX5m15C&sctx=ZAAAAAgCEAAaKAoSCZBmLJrO0kJAEaFpiZXR3EtAEhIJPWU1XU9UA0ARk4rG2t%2FZ3T8iBgABAgMEBSgKOABAgq4HSAFiJGNvbGxlY3Rpb25zX2RvX2ZpbHRlcl9ieV9nZW9pZD1mYWxzZWIbY29sbGVjdGlvbnNfaW91X2ZpbHRlcj0wLjAyYjlzb3VyY2U9cHJpY2VzIWFkZHJzLWdvb2RzLTAwMDpzZDovL3Nhc0BhZGRyc19nb29kc19kZXYyLTBiOXNvdXJjZT1wcmljZXMhYWRkcnMtZ29vZHMtMDAwOnNkOi8vc2FzQGFkZHJzX2dvb2RzX2RldjItMWI5c291cmNlPXByaWNlcyFhZGRycy1nb29kcy0wMDA6c2Q6Ly9zYXNAYWRkcnNfZ29vZHNfZGV2Mi0yYjlzb3VyY2U9cHJpY2VzIWFkZHJzLWdvb2RzLTAwMDpzZDovL3Nhc0BhZGRyc19nb29kc19kZXYyLTNiJWNvbGxlY3Rpb25zX3JlbGV2X3RocmVzaG9sZD0xMDA1ODAwMDBiNGNvbGxlY3Rpb25zX3JhbmtpbmdfbW9kZWw9Y29sbF9yZWxldl9ib2JhX2Rpc3RpbGxfMTRiJWNvbGxlY3Rpb25zX2RvX2ZpbHRlcl9ieV93aW5kb3c9ZmFsc2ViGmNvbGxlY3Rpb25zX2JmX3NlYXJjaD10cnVlYhxjb2xsZWN0aW9uc19zb3VyY2U9Z2VuZXJhdGVkYhljb2xsZWN0aW9uc19zb3VyY2U9ZXhwZXJ0YiFjb2xsZWN0aW9uc19yZXR1cm5fYnlfZ2VvaWQ9ZmFsc2VqAnJ1nQHNzEw9oAEAqAEAvQHFdZHy6gEA8gEA%2BAEAggIsSk1KNStHUSDRgC3QvSDQptCw0YDQuNGG0YvQvdC%2BLCDQnNC%2B0YHQutCy0LCKAgCSAgYxMjA1NziaAgxkZXNrdG9wLW1hcHM%3D&sll=37.742231%2C55.652314&sspn=0.024059%2C0.004653&text=JMJ5%2BGQ%20%D1%80-%D0%BD%20%D0%A6%D0%B0%D1%80%D0%B8%D1%86%D1%8B%D0%BD%D0%BE%2C%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&z=15.77"
        },
        {
            name: "Пролетарский проспект, 30 - м.Кантемировская",
            href: "kantemirovskaya.html",
            address: "Пролетарский проспект, 30",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станции метро “Кантемировская”, “Царицыно”, “Каширская”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Кантемирсковая",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с Кантемировской, на Пролетарском проспекте, недалеко от Царицыно и Каширской.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Кантемировская | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.659063%2C55.630355&mode=search&sctx=ZAAAAAgCEAAaKAoSCZBmLJrO0kJAEaFpiZXR3EtAEhIJPWU1XU9UA0ARk4rG2t%2FZ3T8iBgABAgMEBSgKOABAgq4HSAFiJGNvbGxlY3Rpb25zX2RvX2ZpbHRlcl9ieV9nZW9pZD1mYWxzZWIbY29sbGVjdGlvbnNfaW91X2ZpbHRlcj0wLjAyYjlzb3VyY2U9cHJpY2VzIWFkZHJzLWdvb2RzLTAwMDpzZDovL3Nhc0BhZGRyc19nb29kc19kZXYyLTBiOXNvdXJjZT1wcmljZXMhYWRkcnMtZ29vZHMtMDAwOnNkOi8vc2FzQGFkZHJzX2dvb2RzX2RldjItMWI5c291cmNlPXByaWNlcyFhZGRycy1nb29kcy0wMDA6c2Q6Ly9zYXNAYWRkcnNfZ29vZHNfZGV2Mi0yYjlzb3VyY2U9cHJpY2VzIWFkZHJzLWdvb2RzLTAwMDpzZDovL3Nhc0BhZGRyc19nb29kc19kZXYyLTNiJWNvbGxlY3Rpb25zX3JlbGV2X3RocmVzaG9sZD0xMDA1ODAwMDBiNGNvbGxlY3Rpb25zX3JhbmtpbmdfbW9kZWw9Y29sbF9yZWxldl9ib2JhX2Rpc3RpbGxfMTRiJWNvbGxlY3Rpb25zX2RvX2ZpbHRlcl9ieV93aW5kb3c9ZmFsc2ViGmNvbGxlY3Rpb25zX2JmX3NlYXJjaD10cnVlYhxjb2xsZWN0aW9uc19zb3VyY2U9Z2VuZXJhdGVkYhljb2xsZWN0aW9uc19zb3VyY2U9ZXhwZXJ0YiFjb2xsZWN0aW9uc19yZXR1cm5fYnlfZ2VvaWQ9ZmFsc2VqAnJ1nQHNzEw9oAEAqAEAvQHFdZHy6gEA8gEA%2BAEAggIsSk1KNStHUSDRgC3QvSDQptCw0YDQuNGG0YvQvdC%2BLCDQnNC%2B0YHQutCy0LCKAgCSAgYxMjA1NziaAgxkZXNrdG9wLW1hcHM%3D&sll=37.659063%2C55.630355&sspn=0.011302%2C0.002187&text=JMJ5%2BGQ%20%D1%80-%D0%BD%20%D0%A6%D0%B0%D1%80%D0%B8%D1%86%D1%8B%D0%BD%D0%BE%2C%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&whatshere%5Bpoint%5D=37.658368%2C55.630524&whatshere%5Bzoom%5D=17&z=16.86"
        },
        {
            name: "Кировоградская улица, 13а - м.Пражская",
            href: "prajskaya.html",
            address: "Кировоградская улица, 13а",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станции метро “Пражская”, “Южная”, “Улица Академика Янгеля”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Котельники",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с Пражской, на Кировоградской улице, недалеко от Южной и Улицы Академика Янгеля.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Пражская | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.610669%2C55.612404&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNTU4ODQyMjUyEknQoNC-0YHRgdC40Y8sINCc0L7RgdC60LLQsCwg0JrQuNGA0L7QstC-0LPRgNCw0LTRgdC60LDRjyDRg9C70LjRhtCwLCAxM9CQIgoNgmwWQhUHc15C&z=16.14"
        },
        {
            name: "Новорязанское шоссе, 8с6 - м.Котельники",
            href: "kotelniki.html",
            address: "Новорязанское шоссе, 8с6",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Котельники”, “Жулебино”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Котельники",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с метро Котельники, на Новорязанском шоссе, недалеко от Дзержинского шоссе.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Котельники | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.880311%2C55.661176&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjkwNTE5MxJ00KDQvtGB0YHQuNGPLCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwg0JrQvtGC0LXQu9GM0L3QuNC60LgsINCd0L7QstC-0YDRj9C30LDQvdGB0LrQvtC1INGI0L7RgdGB0LUsIDjRgTYiCg1xhRdCFQylXkI%2C&z=15.77"
        },
        {
            name: "Дмитровское шоссе, 165 к1 - м.Алтуфьево",
            href: "altufievo-dmitrovskoe.html",
            address: "Дмитровское шоссе, 165 к1",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Алтуфьево”, ж/д станция “Марк”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Алтуфьево",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с метро Алтуфьево, на Дмитровском шоссе, недалеко от Новодачного шоссе и ж/д станции Марк.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Алтуфьево | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.539586%2C55.916213&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjkzODQxOBJF0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCU0LzQuNGC0YDQvtCy0YHQutC-0LUg0YjQvtGB0YHQtSwgMTY10LoxIgoNzCgWQhVIqF9C&z=16.18"
        },
        {
            name: "проспект Вернадского, 86а - м.Юго-Западная",
            href: "yugo-zapadnaya.html",
            address: "проспект Вернадского, 86а",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Юго-Западная”, “Тропарёво”, “Проспект Вернадского”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Юго-Западная",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с метро Юго-Западная, на проспекте Вернадского, недалеко от Тропарёво и проспекта Вернадского.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Юго-Западная | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.481584%2C55.662782&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoxNjQ5OTIzNTExEknQoNC-0YHRgdC40Y8sINCc0L7RgdC60LLQsCwg0L_RgNC-0YHQv9C10LrRgiDQktC10YDQvdCw0LTRgdC60L7Qs9C-LCA4NtCQIgoNi-wVQhXvpl5C&z=17.68"
        },
        {
            name: "Ленинский проспект, 109 - м.Новаторская",
            href: "novatorskaya.html",
            address: "Ленинский проспект, 109",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Новаторская”, “Юго-Западная”, “Проспект Вернадского”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Новаторская",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с метро Новаторская, на Ленинском проспекте, недалеко от Юго-Западной и проспекта Вернадского.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Новаторская | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=37.511425%2C55.663855&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgk3NzEzNzU2MzUSRNCg0L7RgdGB0LjRjywg0JzQvtGB0LrQstCwLCDQm9C10L3QuNC90YHQutC40Lkg0L_RgNC-0YHQv9C10LrRgiwgMTA5IgoNuQsWQhXGp15C&z=16.84"
        },
        {
            name: "ул. Бианки, 10 - п.Московский",
            href: "biyanki.html",
            address: "ул. Бианки, 10",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Рассказовка”, “Филатов Луг”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола п.Московский",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом в поселении Московский, на улице Бианки, недалеко от Киевского шоссе, станций метро Рассказовка, Филатов Луг.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола поселение Московский | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.365314%2C55.602156&mode=poi&poi%5Bpoint%5D=37.365239%2C55.602186&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D200002574368&z=21"
        },
        {
            name: "улица Никольская, 10 - м.Лубянка",
            href: "lubyanka.html",
            address: "улица Никольская, 10",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Лубянка”, “Площадь Революции”, “Китай-город”, “Театральная”, “Охотный ряд”, “Кузнецкий мост”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Лубянка",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с метро Лубянка, на Никольской улице, недалеко от станций метро Площадь Революции, Китай-город, Театральная, Охотный ряд, Кузнецкий мост, рядом с Никольским пассажем.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Лубянка | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.624306%2C55.758097&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjcxODgxMBI_0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCd0LjQutC-0LvRjNGB0LrQsNGPINGD0LvQuNGG0LAsIDEwIgoNiH8WQhUmCF9C&utm_medium=mapframe&utm_source=maps%22%20style%3D%22color%3A&z=15.04"
        },
        {
            name: "Малая Юшуньская улица, 1к1 - м.Каховская",
            href: "kahovskaya.html",
            address: "Малая Юшуньская улица, 1к1",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Каховская”, “Севастопольская”, “Зюзино”, “Нахимовский проспект”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Каховская",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с метро Каховская, на Юшуньской улице, недалеко от станций метро Зюзино, Нахимовский проспект, Севастопольская.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Каховская | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.596488%2C55.652602&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjkxMDQxMBJK0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCc0LDQu9Cw0Y8g0K7RiNGD0L3RjNGB0LrQsNGPINGD0LvQuNGG0LAsIDHQujEiCg3HYBZCFeecXkI%2C&z=16.39"
        },
        {
            name: "Рязанский проспект, 64к2 - м.Рязанский проспект",
            href: "ryazanskiy-prospect.html",
            address: "Рязанский проспект, 64к2",
            description: "Автошкола ТопГир - находится рядом с вами, на соседней улице. Рядом с нами станция метро “Рязанский проспект”, “Выхино”, “Юго-Восточная”, “Окская”. В автошколе работают квалифицированные инструкторы, которые помогут вам в получении навыков вождения и ответят на все ваши вопросы. Если вы хотите научиться водить автомобиль или улучшить свои навыки, автошкола ТопГир - отличное место для вас.",
            title: "Автошкола м.Рязанский проспект",
            metaDescription: `✅ Автошкола - ТопГир - обучение водителей рядом с метро Рязанский проспект, на Рязанском проспекте, недалеко от станций метро Выхино, Юго-Восточная, Окская.   ☎️️ ${phone.formatted}`,
            metaTitle: "Автошкола у метро Рязанский проспект | Автошкола ТопГир",
            mapSrc: "https://yandex.ru/map-widget/v1/?ll=37.809170%2C55.715852&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjY4MzA4OBJG0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCg0Y_Qt9Cw0L3RgdC60LjQuSDQv9GA0L7RgdC_0LXQutGCLCA2NNC6MiIKDdc2F0IVCdteQg%2C%2C&z=13.38"
        }
    ].sort((a, b) => a.name.localeCompare(b.name))

//-Инструкторы
-
    instructors = [
        {
            name: "Казанцева Е.А",
            position: "Администратор",
            imageSrc: "assets/images/instructors/instructor-1.jpg",
            description: "Помогаю будущим водителям освоиться, ничего не забывать и решать все возникающие вопросы."
        },
        {
            name: "Лотошкина Р.Б.",
            position: "Администратор",
            imageSrc: "assets/images/instructors/instructor-2.jpg",
            description: "Сделаю все для того чтобы будущим водителям обучение в автошколе «ТопГир» запомнилось только с хорошей стороны."
        },
        {
            name: "Яковлев Л.В.",
            position: "Преподаватель теории",
            imageSrc: "assets/images/instructors/instructor-3.jpg",
            description: "Помощь в освоении теоретического материала для подготовки водителей категории В — мое любимое дело."
        },
        {
            name: "Маслов Н.С.",
            position: "Преподаватель теории",
            imageSrc: "assets/images/instructors/instructor-4.jpg",
            description: "Выучим в вами теорию от А до Я! Помогу во всем разобраться — сдадите экзамен по теории на права категории В в два счета!"
        },
        {
            name: "Тарасов И.И.",
            position: "Инструктор по вождению",
            imageSrc: "assets/images/instructors/instructor-5.jpg",
            description: "Отработаем практику на совесть, чтобы вы сдали на права в ГИБДД с первого раза!"
        },
        {
            name: "Яцкевич А.Р.",
            position: "Инструктор по вождению",
            imageSrc: "assets/images/instructors/instructor-6.jpg",
            description: "Обучение вождению автомобиля пройдет без страха и в комфортным условиях. Полюбите авто, дорогу и водительское кресло!"
        }
    ]

//-Акции
-
    actions = [
        "assets/images/actions/action-1.webp",
        "assets/images/actions/action-2.jpg",
        "assets/images/actions/action-3.webp"
    ]

-
    photos = [
        "assets/images/photos/photo-1.webp",
        "assets/images/photos/photo-2.webp",
        "assets/images/photos/photo-3.webp",
        "assets/images/photos/photo-4.webp",
        "assets/images/photos/photo-5.webp",
    ]

-
    reviews =
            [
                {
                    title: "Катя, 26 лет",
                    description: "Очень понравился онлайн формат занятий в автошколе — идеальный выход для тех, у кого ненормированный график на работе и нет возможности подстроиться под стабильное расписание. Отличная современная автошкола, мне все понравилось. Рекомендую."
                },
                {
                    title: "Кристина, 34 года",
                    description: "Выражаю слова благодарности администраторам, преподавателям и, конечно же, инструкторам. Хочу отметить высокое качество подготовки водителей категории Б. Для меня обучение прошло гладко и ровно. Все четко организовано, материал подается доступно. Осваивать площадку и даже водить в городе не было никакого страха. Здесь работают профессионалы! Мои наилучшие рекомендации коллективу ТопГир."
                },
                {
                    title: "Андрей, 29 лет",
                    description: "Вы видели, сколько стоит обучение в других автошколах Москвы?! 😱 Цены выше, еще и бензин отдельно оплачивается. Я уже умел водить, но нужно было именно отучиться. Выбрал эту автошколу из-за разумного ценника. Но хочу сказать, здесь вообще все на уровне — и расценки, и качество. Из моей группы все ребята отстрелялись на экзаменах с первого раза. Молодцы, ТопГир! Процветания вашему делу!"
                },
                {
                    title: "Валентин, 21 год",
                    description: "Искал автошколу рядом со мной. Нашел филиал ТопГир на Рязанке. Позвонил узнать, сколько стоит сдать на права на байк и как долго учиться. Предложили онлайн-формат и обычную группу. Выбрал онлайн, т.к. показалось более удобно. По обучению - нет вопросов, все понятно, четко, на все вопросы подробно отвечают, преподаватели и инструкторы адекватные. Сервис отличный, цена — более чем. Все хорошо!"
                },
                {
                    title: "Алина, 25 лет",
                    description: "Ребята, вы лучшие! Из прошлой автошколы я буквально сбежала, потому что такой неадекватности я еще не встречала. ТопГир мне порекомендовал коллега, который здесь же и учился. Я была в шоке, сравнивая условия. Здесь все так аккуратно, прямо приятно приходить на занятия. Девушки-администраторы очень вежливые. Преподаватель теории объясняет все буквально на пальцах — все понимаешь, при этом не засыпаешь. Лекции интересные, куча примеров из жизни и разбора ситуаций. Вождение — это вообще: ни страха, ни мандража не было, села — и поехала. Инструктор Олег Павлович очень тактичный, с ним так спокойно было учиться. Обучение было для меня действительно очень приятным опытом. Однозначно рекомендую всем! Это лучшая автошкола в Москве!"
                }
            ]
-
    prices =
            [
                {
                    title: "МКПП Онлайн",
                    "20": "48",
                    "40": "49",
                    "56": "50",
                    downPayment: "17 000 ₽**",
                },
                {
                    title: "МКПП Очно",
                    "20": "51",
                    "40": "52",
                    "56": "53",
                    downPayment: "17 000 ₽**",
                },
                {
                    title: "АКПП Онлайн",
                    "20": "54",
                    "40": "55",
                    "56": "56",
                    downPayment: "17 000 ₽**",
                },
                {
                    title: "АКПП Очно",
                    "20": "57",
                    "40": "58",
                    "56": "59",
                    downPayment: "17 000 ₽**",
                },
                {
                    title: "А",
                    price: "60",
                    "20": "",
                    "40": "",
                    "56": "",
                    downPayment: "15 000 ₽",
                },
                {
                    title: "А+В",
                    price: "62",
                    "20": "",
                    "40": "",
                    "56": "",
                    downPayment: "15 000 ₽",
                },
            ]

-
    overrun = [
        {
            title: 'Минимальный курс',
            features: ['5 занятий с инструктором', 'Онлайн поддержка'],
            pack: 'first_rate'
        },
        {
            title: 'Оптимальный курс',
            features: ['10 занятий с инструктором', 'Доступ к онлайн платформе ПДД', 'Онлайн поддержка'],
            pack: 'second_rate'
        },
        {
            title: 'Расширенный курс',
            features: [
                '10 занятий с инструктором',
                'Доступ к онлайн платформе ПДД',
                'Онлайн поддержка',
                'Сессия с психологом (как побороть страх вождения и приобрести уверенность за рулем)'
            ],
            pack: 'third_rate'
        }
    ]
