section#facts
    .container
        h2.h2.text-center 5 быстрых фактов о нас
        #facts__carousel.carousel.slide(data-bs-ride='carousel').d-block.d-md-none
            .carousel-inner.facts__list
                .carousel-item(class='active')
                    .facts__item
                        img.facts__image(src=require("../../assets/images/facts/fact-1.webp") alt="")
                        p.facts__description Учим на права
                            span.fw-bold &nbsp;категории В и А
                            | . От зачисления до получения в/у — 3 месяца.
                .carousel-item
                    .facts__item
                        img.facts__image(src=require("../../assets/images/facts/fact-2.webp") alt="")
                        p.facts__description Обучение на права проводят
                            span.fw-bold &nbsp;опытные педагоги и инструкторы
                            | &nbsp;— 97 % курсантов сдают теорию и практику с 1 попытки.
                .carousel-item
                    .facts__item
                        img.facts__image(src=require("../../assets/images/facts/fact-3.webp") alt="")
                        p.facts__description В автопарке — обслуженные и застрахованные иномарки не старше 5 лет. В нашей школе вождению
                            span.fw-bold &nbsp;можно учиться на «автомате» или «механике».
                .carousel-item
                    .facts__item
                        img.facts__image(src=require("../../assets/images/facts/fact-4.webp") alt="")
                        p.facts__description У нас построена
                            span.fw-bold &nbsp широкая сеть филиалов с аудиториями и автодромами у метро
                            | , чтобы вы могли учиться на  права категории Б/А рядом с домом.
                .carousel-item
                    .facts__item
                        img.facts__image(src=require("../../assets/images/facts/fact-5.webp") alt="")
                        p.facts__description Оплатить обучение в автошколе «ТопГир» вы можете
                            span.fw-bold &nbsp в рассрочку
                            | . Предлагаем
                            span.fw-bold &nbspнизкие цены
                            | , регулярно проводим акции и скидки.
        ul.facts__list.d-none.d-md-flex.flex-wrap.justify-content-center.gap-4
            li.facts__item.mx-md-0
                img.facts__image(src=require("../../assets/images/facts/fact-1.webp") alt="")
                p.facts__description Учим на права
                    span.fw-bold &nbsp;категории В и А
                    | . От зачисления до получения в/у — 3 месяца.
            li.facts__item.mx-md-0
                img.facts__image(src=require("../../assets/images/facts/fact-2.webp") alt="")
                p.facts__description Обучение на права проводят
                    span.fw-bold &nbsp;опытные педагоги и инструкторы
                    | &nbsp;— 97 % курсантов сдают теорию и практику с 1 попытки.
            li.facts__item.mx-md-0
                img.facts__image(src=require("../../assets/images/facts/fact-3.webp") alt="")
                p.facts__description В автопарке — обслуженные и застрахованные иномарки не старше 5 лет. В нашей школе вождению
                    span.fw-bold &nbsp;можно учиться на «автомате» или «механике».
            li.facts__item.mx-md-0
                img.facts__image(src=require("../../assets/images/facts/fact-4.webp") alt="")
                p.facts__description У нас построена
                    span.fw-bold &nbsp широкая сеть филиалов с аудиториями и автодромами у метро
                    | , чтобы вы могли учиться на  права категории Б/А рядом с домом.
            li.facts__item.mx-md-0
                img.facts__image(src=require("../../assets/images/facts/fact-5.webp") alt="")
                p.facts__description Оплатить обучение в автошколе «ТопГир» вы можете
                    span.fw-bold &nbsp в рассрочку
                    | . Предлагаем
                    span.fw-bold &nbspнизкие цены
                    | , регулярно проводим акции и скидки.
